body{
    background-color: black;
    color: white;
}

form{
    width: 500px;
    margin: auto;
}

#name{
    border-style: inset;
    border-radius: 5px;
    border-color: lightblue;
    
}

#email{
    border-style: inset;
    border-radius: 5px;
    border-color: green;
}

#number{
    border-style: inset;
    border-radius: 5px;
    border-color:orange;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
 
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(51, 47, 47);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    bottom: 25%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }